<a href="https://colab.research.google.com/github/SaiLikhita12/Agrigenomics/blob/main/Co2_emission.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LINEAR REGRESSION MODEL

In [ ]:
import pandas as pd
import numpy as np
data=pd.read_csv("/content/archive (3).zip")

In [ ]:
data

       Make        Model  ... Fuel Consumption Comb (mpg)  CO2 Emissions(g/km)
0     ACURA          ILX  ...                          33                  196
1     ACURA          ILX  ...                          29                  221
2     ACURA   ILX HYBRID  ...                          48                  136
3     ACURA      MDX 4WD  ...                          25                  255
4     ACURA      RDX AWD  ...                          27                  244
...     ...          ...  ...                         ...                  ...
7380  VOLVO  XC40 T5 AWD  ...                          30                  219
7381  VOLVO  XC60 T5 AWD  ...                          29                  232
7382  VOLVO  XC60 T6 AWD  ...                          27                  240
7383  VOLVO  XC90 T5 AWD  ...                          29                  232
7384  VOLVO  XC90 T6 AWD  ...                          26                  248

[7385 rows x 12 columns]

In [ ]:
data.shape

(7385, 12)

In [ ]:
data.describe()

       Engine Size(L)  ...  CO2 Emissions(g/km)
count     7385.000000  ...          7385.000000
mean         3.160068  ...           250.584699
std          1.354170  ...            58.512679
min          0.900000  ...            96.000000
25%          2.000000  ...           208.000000
50%          3.000000  ...           246.000000
75%          3.700000  ...           288.000000
max          8.400000  ...           522.000000

[8 rows x 7 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7385 entries, 0 to 7384
Data columns (total 12 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Make                              7385 non-null   object
 1   Model                             7385 non-null   object
 2   Vehicle Class                     7385 non-null   object
 3   Engine Size(L)                    7385 non-null   float64
 4   Cylinders                         7385 non-null   int64
 5   Transmission                      7385 non-null   object
 6   Fuel Type                         7385 non-null   object
 7   Fuel Consumption City (L/100 km)  7385 non-null   float64
 8   Fuel Consumption Hwy (L/100 km)   7385 non-null   float64
 9   Fuel Consumption Comb (L/100 km)  7385 non-null   float64
 10  Fuel Consumption Comb (mpg)       7385 non-null   int64
 11  CO2 Emissions(g/km)               7385 non-null   int64
dtypes: float64(4), int64(3), object(5)
memory usage: 692.5+ KB

In [ ]:
data.dtypes

Make                                 object
Model                                object
Vehicle Class                        object
Engine Size(L)                      float64
Cylinders                             int64
Transmission                         object
Fuel Type                            object
Fuel Consumption City (L/100 km)    float64
Fuel Consumption Hwy (L/100 km)     float64
Fuel Consumption Comb (L/100 km)    float64
Fuel Consumption Comb (mpg)           int64
CO2 Emissions(g/km)                   int64
dtype: object

In [ ]:
data.isnull().sum()

Make                                0
Model                               0
Vehicle Class                       0
Engine Size(L)                      0
Cylinders                           0
Transmission                        0
Fuel Type                           0
Fuel Consumption City (L/100 km)    0
Fuel Consumption Hwy (L/100 km)     0
Fuel Consumption Comb (L/100 km)    0
Fuel Consumption Comb (mpg)         0
CO2 Emissions(g/km)                 0
dtype: int64

In [ ]:
data.corr()['CO2 Emissions(g/km)'].sort_values()

Fuel Consumption Comb (mpg)        -0.907426
Cylinders                           0.832644
Engine Size(L)                      0.851145
Fuel Consumption Hwy (L/100 km)     0.883536
Fuel Consumption Comb (L/100 km)    0.918052
Fuel Consumption City (L/100 km)    0.919592
CO2 Emissions(g/km)                 1.000000
Name: CO2 Emissions(g/km), dtype: float64

In [ ]:
x=data[['Cylinders','Engine Size(L)','Fuel Consumption Comb (mpg)','Fuel Consumption Hwy (L/100 km)','Fuel Consumption City (L/100 km)']]

In [ ]:
x

      Cylinders  ...  Fuel Consumption City (L/100 km)
0             4  ...                               9.9
1             4  ...                              11.2
2             4  ...                               6.0
3             6  ...                              12.7
4             6  ...                              12.1
...         ...  ...                               ...
7380          4  ...                              10.7
7381          4  ...                              11.2
7382          4  ...                              11.7
7383          4  ...                              11.2
7384          4  ...                              12.2

[7385 rows x 5 columns]

In [ ]:
y=data[data.columns[-1]]

In [ ]:
y

0       196
1       221
2       136
3       255
4       244
       ...
7380    219
7381    232
7382    240
7383    232
7384    248
Name: CO2 Emissions(g/km), Length: 7385, dtype: int64

In [ ]:
x.shape,y.shape

((7385, 5), (7385,))

In [ ]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest =train_test_split(x,y,test_size=0.3,random_state=2)

In [ ]:
xtrain

      Cylinders  ...  Fuel Consumption City (L/100 km)
270           6  ...                              14.6
2012          6  ...                              13.7
5311          4  ...                              11.8
2280          4  ...                              10.5
5787          8  ...                              20.0
...         ...  ...                               ...
3606          8  ...                              15.6
5704          8  ...                              17.6
6637          8  ...                              15.5
2575          4  ...                              12.6
7336          6  ...                               9.9

[5169 rows x 5 columns]

In [ ]:
xtest

      Cylinders  ...  Fuel Consumption City (L/100 km)
3773          8  ...                              15.2
2805          4  ...                              10.3
194           8  ...                              16.7
7274          8  ...                              16.2
1660          8  ...                              15.6
...         ...  ...                               ...
2784          6  ...                              12.5
1803          6  ...                              15.7
6066          4  ...                               9.2
3230          4  ...                               4.5
2569          4  ...                              10.9

[2216 rows x 5 columns]

In [ ]:
from sklearn.linear_model import LinearRegression
regr=LinearRegression()
regr.fit(xtrain,ytrain)

LinearRegression()

In [ ]:
y_pred=regr.predict(x)

In [ ]:
y_pred

array([199.21259476, 221.34463804, 136.66500073, ..., 231.26552862,
       222.35947494, 235.62976933])

In [ ]:
y

0       196
1       221
2       136
3       255
4       244
       ...
7380    219
7381    232
7382    240
7383    232
7384    248
Name: CO2 Emissions(g/km), Length: 7385, dtype: int64

In [ ]:
from sklearn.metrics import mean_absolute_error,mean_squared_error
print(np.sum(np.abs(y-y_pred))/x.shape[0])
print(mean_absolute_error(y,y_pred))
print(np.sqrt(mean_squared_error(y,y_pred)))

11.485744520323603
11.485744520323603
18.140422815377484

In [ ]:
print(regr.score(xtest,ytest))

0.9111778484416871